
<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <app-big-card
    Id="1"
    photoCover="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    cardTitle="Conheça 5 linguagens de programação populares no mercado de tecnologia"
    cardDescription="Conheça cinco linguagens de programação populares no mercado de tecnologia."
    >
  </app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card
    Id="2"
    cardTitle="Explore as 7 Tendências Tecnológicas que Estão Transformando o Mercado em 2024"
    photoCover="https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?q=80&w=1476&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    >
    </app-small-card>

    <app-small-card
    Id="3"
    cardTitle="Entenda o Impacto da Inteligência Artificial em 4 Setores Tecnológicos Cruciais"
    photoCover="https://plus.unsplash.com/premium_photo-1683121710572-7723bd2e235d?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    >
    </app-small-card>

    <app-small-card
    Id="4"
    cardTitle="Descubra as Principais Ferramentas de Desenvolvimento Web Usadas por Profissionais da Indústria"
    photoCover="https://plus.unsplash.com/premium_photo-1663050633633-2856e875dcc7?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    >
    </app-small-card>

  </div>
</div>
