
<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <app-big-card
    photoCover="https://miro.medium.com/v2/resize:fit:1400/1*cGDDA2mfYkjiIhGaN8gDoA.png"
    cardTitle="Novo Homem de Ferro"
    cardDescription="Marvel anuncia novo Homem de Ferro"
    >
  </app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card
    cardTitle="Nova Série anunciada no Disney +"
    photoCover="https://miro.medium.com/v2/resize:fit:1400/1*cGDDA2mfYkjiIhGaN8gDoA.png"
    >
    </app-small-card>

    <app-small-card
    cardTitle="Nova Série anunciada no Disney +"
    photoCover="https://miro.medium.com/v2/resize:fit:1400/1*cGDDA2mfYkjiIhGaN8gDoA.png"
    >
    </app-small-card>

    <app-small-card
    cardTitle="Nova Série anunciada no Disney +"
    photoCover="https://miro.medium.com/v2/resize:fit:1400/1*cGDDA2mfYkjiIhGaN8gDoA.png"
    >
    </app-small-card>

  </div>
</div>
