.container_menu_bar {
  padding: 15px;
}

.container_menu_bar > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.container_menu_bar > ul > li {
  list-style: none;
  margin-right: 20px;
  font-size: 18px;
}

.container_menu_bar > ul > li:last-child {
  margin-right: 0;
}

.container_menu_bar a {
  text-decoration: none;
  color: #a277ff;
  transition: color 0.3s ease;
}

.container_menu_bar a:hover {
  color: #61ffca;
}
